<footer class="footer">
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/about">About Us</a></li>
    <li><a href="{{ site.baseurl }}/estimate">Get An Estimate</a></li>
    <li><a href="{{ site.baseurl }}/services">Services</a></li>
    <li><a href="{{ site.baseurl }}/gallery">Gallery</a></li>
    <li><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
  </ul>
  <hr>
  <p>
    <strong>Developed</strong> by <a href="http://www.byronroark.com">Byron Roark</a>
  </p>
</footer>