<nav class="navbar is-white" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="{{ site.baseurl }}/assets/images/logo.png" width="140" height="100">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary" href="{{ site.baseurl }}/estimate">
          <strong>Get An Estimate</strong>
        </a>
      </div>
    </div>
    <a class="navbar-item" href="{{ site.baseurl }}/">
      Home
    </a>
    <a class="navbar-item" href="{{ site.baseurl }}/about">
        About
      </a>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link" href="{{ site.baseurl }}/services">
        Services
      </a>
      <div class="navbar-dropdown is-boxed">
        <a class="navbar-item">
          Service One 
        </a>
        <a class="navbar-item">
          Service Two
        </a>
        <a class="navbar-item">
          Service Three
        </a>
      </div>
    </div>
    <a class="navbar-item" href="{{ site.baseurl }}/gallery">
      Gallery
    </a>
    <a class="navbar-item" href="{{ site.baseurl }}/contact">
      Contact
    </a>
  </div>
</nav>