@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

$green: #4caf50;
$dark-gray: #2c3338;

a {
  color: $green;
}

a.navbar-item {
  color: $green;
}

a.navbar-item:hover {
  color: $black;
}

a.navbar-item.has-dropdown {
  color: $green;
}

.is-success {
  background-color: $green;
}