@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

$green: #4caf50;
$dark-gray: #2c3338;
$light-gray: #EFF3F4;
$navbar-item-img-max-height: 100px;
$input-focus-border-color: $green;
$input-focus-box-shadow-color: $green;

// html, body {
//   background: $light-gray;
// }

a {
  color: $green;
}

a.navbar-item {
  color: $green;
}

a.navbar-item:hover {
  color: $black;
}

a.navbar-item.has-dropdown {
  color: $green;
}

.is-success {
  background-color: $green;
}